body {
  background-color: #A3A5CC; 
  color: #8BA651; 
  font-family: sans-serif; 
  margin: 20px; 
}

h1 {
  color: #8BA651;            
}

a {
  color: #C000FF; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

